@import url(reset.css);
 
/* !fonts */

@font-face {
  font-family: 'Montserrat';
  src: url('../fonts/montserrat/Montserrat-Bold.woff2') format('woff2');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Montserrat';
  src: url('../fonts/montserrat/Montserrat-Regular.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Montserrat';
  src: url('../fonts/montserrat/Montserrat-Medium.woff2') format('woff2');  
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}


.body {
  font-family: 'Montserrat' , sans-serif;
  font-weight: 400;
}

.header {
  padding: 30px 0 0;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
}

.header-container {
  display: flex;
  border-bottom: 1px solid rgba(70, 163, 88, .1);
  justify-content: space-between;
  padding-bottom: 12px;
}

.header-logo {
  width: 150px;
}

.header-list {
  display: flex;
  gap: 27px;
}

.header-list .home {
  padding-left: 25px;
  background: url(../img/home.svg) no-repeat 
  0 0/20px
}

.header-list .shop {
  padding-left: 25px;
  background: url(../img/shop.svg) no-repeat 
  0 0/20px
}

.header-list .plantcare {
  padding-left: 25px;
  background: url(../img/plantcare.svg) no-repeat 
  0 0/20px
}

.header-list .blogs{
  padding-right: 25px;
  background: url(../img/blog.svg) no-repeat 50px 0/20px;
}

.header-list li a {
  text-decoration: none;
}

.header-list li.active::before {
  content: '';
  position: absolute;
  bottom: -12px;
  left: 0;
  right: 0;
  height: 3px;
  background: #46A358;
}

.header-item{
 position: relative;
}

.header-list li.active {
  color: #3D3D3D;
  font-weight: 700;
}


.header-item li {
  display: block;
  background: palegreen;
}

.drop {
  line-height: 20px;
  position: absolute;
  top: 100%;
  left: 0;
  padding: 12px 0 0;
  display: none;
}

.drop li a{
  padding: 7px 25px 8px 36px;
  font-weight: 400;
  display: block;
  background: rgba(211, 250, 218, 0.9);
}

.first-drop:nth-child(3):hover .drop{
  display: block;

}


.drop li:hover {
  background: #1A712A;
  color: #fff;
  font-weight: 700;
  position: relative;
}

.drop2 {
  position: absolute;
  top: 0;
  right: 100%;
  padding: 0 5px;
  margin: 0;
  display: none;
  color: #3D3D3D;
}

.drop, .drop2 li {
  white-space: nowrap;
}

.drop li:nth-child(4):hover .drop2 {
  display: block;
}


.header-btn {
  padding: 8px 18px 7px;
  background: #46A358;
  border-radius: 6px;
  color: white;
  text-decoration: none;
} 

.header-btn img {
  vertical-align: middle;
  margin-right: 2px;
}



.main {
  width: 1200px;
  background: #F5F5F580;
  margin: 0 auto;
  font-size: 0;
}

.main-container div {
  display: inline-block;
}

.block-left {
  font-size: 15px;
  width: 700px;
  padding: 68px 40px;
}

.main-img {
  width: 500px;
  height: 450px;
}

.main-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.h1 {
  margin-left: 5px;
  font-size: 14px;
  font-weight: 500;
  color: #3D3D3D;
  text-transform: uppercase;
} 

.paragraph {
  font-weight: 700;
  font-size: 70px;
  margin: 7px 0 0 0;
  color: #3D3D3D;
}

.paragraph-2 {
  width: 557px;
  margin: 5px 0 0 0;
  color: #727272;
}

.button {
  padding: 12px 23px;
  background: #46A358;
  color: #fff;
  border-radius: 6px;
  margin: 44px 0 0 0;
  cursor: pointer;
  border: 0;
}

.login-span {
  padding-left: 25px;
  background: url(../img/login.svg) no-repeat 0 0/ 20px;
}

.paragraph span {
  color: #46A358;
} 

